@import "tailwindcss";

@theme {
  /* Cores */
  --color-neo-yellow: #FFF000;
  --color-neo-pink: #FF90E8;
  --color-neo-cyan: #00F0FF;
  --color-neo-black: #000000;
  --color-neo-white: #FFFFFF;
  --color-neo-surface: #f6f6f6;
  --color-neo-error: #f95630;

  /* Fontes */
  --font-heading: "Space Grotesk", sans-serif;
  --font-mono: "IBM Plex Mono", monospace;

  /* Sombras */
  --shadow-brutal: 8px 8px 0px #000000;
  --shadow-brutal-sm: 4px 4px 0px #000000;
  --shadow-brutal-hover: 12px 12px 0px #000000;
}


/* Estilo base */
body{
  font-family: var(--font-mono);
  background-color: var(--color-neo-surface);
  color: var(--color-neo-black);
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  text-transform: uppercase;
  letter-spacing: -0.02em;
  font-weight: 700;
}